{% extends 'tryweb/loyout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Идея проста!</h1>
    <p class="lead text-muted">Конфигуратор в B2B сегменте, как средство генерации контента для сайта.<br>
    Конфигуратор для пользователя - как средство визуализации идеи.</p>
    <p>
      <a href="{% url 'constrdemo' %}" class="btn btn-primary my-2">Demo Конфигуратор диванов</a>
    </p>
  </div>
</section>
{% endblock %}
