{% extends 'catalog/louyr_catalog.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}

    <div class="album py-5 bg-light">

        <div class="container">

        <h1>{{title}}</h1>


        <div  >
            {% for m in posts_cloths  %}
            <h5> <a href="{{m.photo_item.url}}">{{m.name_group}}</a> </h5>
            {% endfor %}
        </div>



          <div class="row">

                  {% for m in posts_cloths_items %}
                  <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" src="{{ m.photo_item.url }}" alt="{{m.name_item}}" style="height: 225px; width: 100%; display: block;">
                      <div class="card-body">
                        <a href="{{m.name_item}}">{{m.name_item}}</a>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">save</button>
                          </div>
                          <small class="text-muted">{{m.price}}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h3> {{m.name_group}} </h3>
                  <p> {{m.purpose_group}} </p>
                  <hr>
                  {% endfor %}

             </div>
          </div>
        </div>




{% endblock %}
