{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Конфигуратор для офиса</title>
  <!--<link href="bootstrap-4.4.1.css" rel="stylesheet">-->
  <link href="{% static 'tryweb\css\css.css' %}" rel="stylesheet">
  <!--link href="css/my_css.css" rel="stylesheet" type="text/css"-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" crossorigin="anonymous">
  <link rel="icon" href="/applications/media/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

</head>
<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">My3DSoft</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <!-- <a class="p-2 text-dark" href="{% url 'constrdemo' %}">Demo</a> -->
      <!-- <a class="p-2 text-dark" href="{% url 'frame' %}">frame</a> -->
      <a class="p-2 text-dark" href="{% url 'about' %}">Идея</a>
      <a class="p-2 text-dark" href="{% url 'cloths' %}">Каталог тканей</a>
      <a class="p-2 text-dark" href="{% url 'models' %}">Каталог моделей</a>
    </nav>
    <a class="btn btn-outline-primary" href="{% url 'constrdemo' %}">3D Demo</a>
  </div>

  {% block content %}




  {% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script src="js/popper.min.js"></script> -->
  <script src="{% static 'tryweb\js\index.js' %}"></script>


</body>
</html>
