<div class="menu_line">
  <span class="menu_4but" id="view_1"><i class="fas fa-couch"></i></span>
  <span class="menu_4but" id="view_2"><i class="fas fa-couch"></i></span>
  <!-- <span class="menu_4but" id="head_on"><i class="fas fa-heart"></i></span>
  <span class="menu_4but" id="head_off"><i class="far fa-heart"></i></span> -->
  <span class="menu_4but" id="question_on"><i class="far fa-question-circle"></i></span>
  <span class="menu_4but" id="question_off"><i class="far fa-question-circle"></i></span>
  <span class="menu_4but scale_text" id="environment_m"><i class="fas fa-eye"></i></span>
  <span class="menu_4but" id="environment_on"><i class="far fa-eye-slash"></i></span>
  <span class="menu_4but" id="screen_m"><i class="fas fa-download"></i></span>
  <span class="menu_4but" id="rotation_m"><i class="fas fa-camera"></i></span>
  <span class="menu_4but"  data-toggle="dropdown" id="m_model"><i class="fas fa-list-ul"></i></span>
    <div class="dropdown-menu" >
      <a class="dropdown-item"  href="http://localhost:8668/applications/9-log/index.html">Базовая</a>
      <a class="dropdown-item" href="http://localhost:8668/applications/md_comfort/index.html">Комфорт</a>
    </div>
</div>
