{% extends 'tryweb/index.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<h1>{{title}}</h1>

<div class="features">

    <ul>
    {% for m in posts %}
      <li> {{m.name_group}} </li>
    {% endfor %}
    </ul>

</div>

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
         {% for m in posts %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="{{ m.photo_group }}" alt="{{m.name_group}}" style="height: 225px; width: 100%; display: block;">
            </div>
          </div>

         {% endfor %}
      </div>
   </div>
</div>

{% endblock %}
